@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900,600');
.checkboxcontainer .chooseissueblock{
    width: 100% ;
    border: 0px ;
    outline: 0px ;
    font-family: "Poppins";
    font-style: normal;
    border: 2px solid #b9bebfb8 ;
    font-weight: 800 ;
    line-height: 153.69% ;
    color: #0000006b ;
    padding: 4px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    
}

.checkboxcontainer {
    margin-bottom: 0px;
    width: 50%;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.arrowdown {
    width: 10px;
}

body{
   background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(4,4,123,1) 25%, rgba(0,212,255,1) 100%);
   margin:0px;
   padding:0px;
   display:flex;
   align-items:center;
   justify-content:center;
}
.selectblock{
    width:35%;
    background-color:white;
    border-radius:10px;
    margin-bottom:20px;
    padding:10px;
    min-height:150px;
    display: flex;
    justify-content: center;
}
.issuehead{
    font-family:"Poppins";
    font-weight: 600;
  font-style: normal;
  font-size:21px;
color:rgb(64, 64, 64);
}

.radiobuttonsection{
    display:flex;
    width:90%;
    justify-content:center;
    gap:30px;
    align-items:center;
}
.issueparentblock{
    display:none;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100vw;
    height:100%;
    background-color: rgba(82, 82, 82, 0.7);
    margin: auto;    
}
.issueaskblock{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.selectionofissue{
    font-size: 16px;
    font-weight: 450;
    margin-bottom: 0;
    width: 100%;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    gap:4px;
    font-family: ""Poppins"";
    font-weight: 600;
    display:flex;
    flex-direction:column;
    gap:14px;
}

.selectionofissue .option{
    margin:8px 0px 8px 0px;
    display:flex;
    flex-direction:column;
    gap:14px;
}

.issuechildblock{
    width:40%;
    background-color:white;
    padding:20px;
    border-radius:20px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:max-content;
    margin: auto; 

}

.cross{
    width:14px;
    height:14px;
    position: absolute;
    right:5%;
    top:7%;
    cursor: pointer;
}

.issueoption{
    width:100%;
    background-color: rgb(227, 227, 227);
    font-size: 14px;
    font-weight:550;
    text-align:center;
    padding:14px;
    border-radius:10px;
    cursor: pointer;
    box-sizing: border-box;
    color:black;
    font-family:"Poppins";
}
a{
    text-decoration:none;
}
@media only screen and (max-width: 778px) {
    .selectblock{
        width:75%;
    }
    .issuechildblock{
        width:70%;
    }
    
}

@media only screen and (max-width: 360px) {
    .issuehead{
        font-size: 17px;
        text-align: center;
    }
    .issueoption{
        font-size: 11px;
        font-weight: 760;
    }
}